<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% extends 'base.html' %}
        {% block content %}
        <h2>Newsletters</h2>
        {% if user.role == 'journalist' %}
        <a href="{% url 'newsletter_create' %}" class="btn btn-success mb-2">Create Newsletter</a>
        {% endif %}
        <ul>
        {% for n in newsletters %}
        <li>
        <a href="{% url 'newsletter_detail' n.pk %}">{{ n.title }}</a>
        {% if user == n.journalist or user.role == 'editor' %}
        <a href="{% url 'newsletter_update' n.pk %}">Edit</a>
        <a href="{% url 'newsletter_delete' n.pk %}">Delete</a>
        {% endif %}
        {% if user.role == 'editor' and not n.approved %}
        <a href="{% url 'approve_newsletter' n.pk %}">Approve</a>
        {% endif %}
        {% if n.approved %}<span>✅</span>{% endif %}
        </li>
        {% empty %}
        <li>No newsletters found.</li>
        {% endfor %}
        </ul>
        {% endblock %}
    </title>
</head>
<body>

</body>
</html>